<h1>All my tasks</h1>

<% @tasks.each do |task| %>
  <p><% if task.completed %>
    <h2> [X] <%= link_to task.title, task_path(task.id)%></h2>
    <h2><%= link_to "delete task", task_path(task.id), method: "delete"%></h2>
    <% else %>
    <h2> [ ] <%= link_to task.title, task_path(task.id)%></h2>
    <h2><%= link_to "delete task", task_path(task.id), method: "delete"%></h2>
    <% end %>
  </p>

 <% end %>



<%= link_to "add new task", new_task_path %>



